@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

aside, 
section {
	float: 				left;
	padding: 			5px 15px;
}

section {
	width: 				70%;
	background-color: 	white;
	padding-bottom: 	60px;
}

aside {
	background-color: 	white;
	height: 			100%;
	width:				30%;
	border-left: 		1px solid #e7e7e7;
}

article {
	border: 			2.5px solid red;
	border-radius:  	5px;
	margin-top:  		50px;
	margin-bottom:  	5px;
	padding: 			0px 30px 30px 30px;
}

article h2 {
	font-family: 		'Roboto Slab', serif;
	float: 				left;
	position: 			relative;
	top: 				-22px;
	color: 				white;
	background:  		red;
	border: 			2.5px solid red;
	border-radius:  	10px;
	padding: 			2px 10px;
}

p {
	font-family: 		'Raleway', sans-serif;
	text-indent: 		20px;
	text-align: 		justify;
}